/*  ######################## Wines PAGE CSS ############ */

.wine-header {
    background-image: url("../Images/DESKTOP/_HEADER/Wines-Web.jpg");
    background-size: cover;
    .fa-search {
        color: $white;
        font-size: 15px;
    }
/* Scroll arrow css */

    .arrow {
        box-sizing: border-box;
        width: 22px;
        height: 22px;
        border-style: solid;
        border-color: white;
        border-width: 0px 1px 1px 0px;
        transform: rotate(45deg);
        transition: border-width 150ms ease-in-out;
        margin-left: 49%;
        margin-top: 15%;
    }
    .arrow:hover {
        border-bottom-width: 4px;
        border-right-width: 4px;
    }
    ul {
        margin-left: 11%;
    }
    .nav-link {
        color: $white !important;
        font-family: $secondfamily;
        font-size: 12px;
        font-weight: 900;
        letter-spacing: 6px;
    }
    .nav-item {
        margin-right: 20px;
    }
    nav {
        padding: 40px 20px;
    }
    span {
        font-family: $textfamily;
        font-size: 12px;
        letter-spacing: 6px;
        color: $white;
    }
    h2 {
        font-size: 50px;
        font-family: $headingfamily;
        letter-spacing: 25px;
        color: $white;
        padding-top: 15px;
    }
    .wine-heading {
        padding: 15% 0% 3% 0%;
    }
}

.wine-dis {
    background-color: #ebe8e2;
    padding: 30px 0px 0px 0px;
    p {
        font-size: 20px;
        font-family: $headingfamily;
        letter-spacing: 4.17px;
        color: $defaultcolor;
        text-align: center;
        width: 78%;
        margin: auto;
        position: relative;
        text-transform: uppercase;
    }
}
.wine-vl {
    border-left: 1px solid #aea79e;
    height: 50px;
    margin-left: 26%;
    top: 0;
    display: block;
    margin-top: -4%;
    display: block;
  }
  .wine-vl2 {
    border-left: 1px solid #aea79e;
    height: 50px;
    margin-left: 78%;
    top: 0;
    display: block;
    margin-top: -5%;
    display: block;
  }
.wine-collection {
    background-color: #ebe8e2;
    padding-bottom: 90px;
    .heading {
        padding-top: 35px;
    }
    span {
        font-family: $textfamily;
        font-size: 12px;
        letter-spacing: 6px;
        text-align: center;
        color: $secondcolor;
    }
    h2 {
        font-size: 50px;
        font-family: $headingfamily;
        letter-spacing: 25px;
        color: $defaultcolor;
        text-align: center;
        margin-top: 20px;
    }
    .wine-item {
        margin-left: -2px;
        img {
            width: 250.8px;
            height: 700px;
            margin-left: 20px;
        }
        h3 {
            font-size: 20px;
            font-family: $headingfamily;
            letter-spacing: 4.17px;
            color: $defaultcolor;
            margin-top: 10%;
            margin-bottom: 10%;
            text-align: -webkit-match-parent;
            margin-left: 20px;
        }
        a {
            color: $black;
            font-family: $secondfamily;
            font-size: 12px;
            font-weight: 900;
            letter-spacing: 6px;
            margin-left: 20px;
        }
        p {
            font-size: 24px;
            letter-spacing: 3px;
            color: $defaultcolor;
            font-family: $headingfamily;
            padding-top: 130%;
            padding-bottom: 148%;
            padding-left: 10px;
        }
    }
}


/* Wine Page Mobile Responsive CSs */ 
@media (max-width: 575.98px) {

    .wine-header {

        .mbl-nav {
            .overlay {
                background-image: url("../Images/MOBILE/02_WINES/WINES_1.jpg");
              }
            }

    background-image: url("../Images/MOBILE/02_WINES/WINES_1.jpg");
    height: 700px;
    h2 {
        font-size: 28px;
        letter-spacing: 14px;
        padding-top: 15px;
    }
    .arrow {
        height: 5vw;
        width: 5vw;
        margin-top: 60%;
    }
    .wine-heading {
        padding: 75% 0% 2% 0%;
    }
    }
    .wine-vl {
        display: none;
    }
    .wine-vl2 {
        display: none;
    }
    .line-left {
        display: block;
    }
    .wine-dis {
        padding: 0px 0px 0px 0px;
        margin-top: -16px;
        .dis-p1 {
            font-size: 16px;
            font-family: $headingfamily;
            letter-spacing: 2.33px;
            text-align: justify;
            margin-left: 5%;
            padding-top: 30px;
            }
        .dis-p2 {
            font-size: 16px;
            font-family: $textfamily;
            letter-spacing: 0.89px;
            text-align: justify;
            margin-top: 10%;
            margin-left: 5%;
            }
    }

    .wine-collection {
        padding-bottom: 0px;
        h2 {
            font-size: 28px;
            letter-spacing: 14px;
        }
        .wine-item {
            display: block;
            img {
                width: 150.8px;
                height: 500px;
                margin-left: 0px;
            }
            h2 {
                margin-left: 0px;
            }
            a {
                margin-left: 0px;
            }
        }
        p {
            padding-top: 70% !important;
        }
    }

}